@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: '42floors Glyphs';
  src: url("/assets/42floors-Glyphs-96d3fa51a97c263a90671399da896dac.eot");
  src: url("/assets/42floors-Glyphs-96d3fa51a97c263a90671399da896dac.eot?#iefix") format("embedded-opentype"), url("/assets/42floors-Glyphs-c84bc2080c700d13800434ad9918f2c9.woff") format("woff"), url("/assets/42floors-Glyphs-61fa4bdf78cb234e141b5cc87c165629.ttf") format("truetype"), url("/assets/42floors-Glyphs-504c6dccb84e6d75342f6ce04df1c284.svg#42floors") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }
.icon {
  font-family: "42floors Glyphs";
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #59595c;
  background: #E9EAE6;
  font-size: 14px; }

a {
  text-decoration: none;
  color: #6F8824;
  cursor: pointer; }

strong {
  font-weight: 700; }

.hide {
  display: none; }

.center {
  text-align: center; }

.clear {
  clear: both; }

.bleed-fix {
  position: static;
  overflow: hidden; }

.handle {
  cursor: pointer;
  cursor: hand; }

::selection {
  background: rgba(193, 248, 59, 0.5);
  /* Safari */ }

::-moz-selection {
  background: rgba(193, 248, 59, 0.5);
  /* Firefox */ }

nav ul li, nav ul, .nav ul, .nav li, ul.nav, ul.nav li {
  list-style: none;
  margin: 0;
  padding: 0; }

.dropdown {
  position: relative;
  padding-right: 30px !important;
  cursor: pointer; }
  .dropdown:hover:after {
    color: black; }
  .dropdown:after {
    position: absolute;
    top: 50%;
    right: 7px;
    font-family: "42floors Glyphs";
    content: "";
    font-size: 1em;
    margin-top: -0.5em;
    color: gray;
    color: rgba(0, 0, 0, 0.5); }
  .dropdown.big:after {
    font-size: 1.5em; }
  .dropdown.up:after {
    content: ""; }

table.custom th label {
  text-transform: uppercase;
  width: 95px;
  display: inline-block;
  font-weight: normal;
  font-size: .8em; }
table.custom table {
  width: 100%; }
table.custom h3 {
  margin: 0;
  margin-top: 13px; }
table.custom td, table.custom th {
  padding: 7px; }
table.custom th {
  width: 33%; }
table.custom tr:nth-child(even) {
  background-color: #f2f2f2; }
table.custom tr:nth-child(odd) {
  background-color: white; }

.btn {
  display: inline-block;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  color: #59595c;
  padding: .7em 1em;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  background-image: -webkit-linear-gradient(top, white 0%, #f7f7f7 100%);
  background-image: linear-gradient(to bottom,white 0%, #f7f7f7 100%);
  /* W3C */
  cursor: pointer;
  border: 1px solid white;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  .btn:hover {
    background: white;
    text-decoration: none; }
  .btn:active, .btn.active, .btn.selected, .btn.current {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 2px 1px rgba(0, 0, 0, 0.3);
    background-color: #f0f0f0;
    background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #f7f7f7 100%);
    background-image: linear-gradient(to bottom,#f0f0f0 0%, #f7f7f7 100%);
    /* W3C */
    color: #a6a6a6; }
  .btn.disabled {
    cursor: auto;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.4);
    text-shadow: none; }
  .btn.outline {
    background: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.2); }
  .btn.subtle {
    padding: 3px 5px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none; }
    .btn.subtle:hover {
      border-color: rgba(0, 0, 0, 0.2);
      background-color: rgba(0, 0, 0, 0.02);
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05));
      background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05)); }
    .btn.subtle:active, .btn.subtle.active, .btn.subtle.selected, .btn.subtle.current {
      color: white;
      background-color: #9fcb1d;
      background-image: -webkit-linear-gradient(#9fcb1d, #AAD81F);
      background-image: linear-gradient(#9fcb1d, #AAD81F);
      border-color: #9fcb1d;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1); }
  .btn.gray {
    color: #a5a5a5;
    box-shadow: none;
    border-color: #b7b7b7;
    font-size: .8em;
    line-height: 20px; }
  .btn.white {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }
  .btn.green {
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
    background-color: #AAD81F;
    background-image: -webkit-linear-gradient(#AAD81F, #9fcb1d);
    background-image: linear-gradient(#AAD81F, #9fcb1d);
    border-color: #95bd1b; }
    .btn.green.outline {
      color: #95bd1b; }
    .btn.green:hover {
      background-color: #b5e12f;
      background-image: -webkit-linear-gradient(#b5e12f, #AAD81F);
      background-image: linear-gradient(#b5e12f, #AAD81F); }
  .btn.blue {
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #22A9C5;
    background-image: -webkit-linear-gradient(#22A9C5, #1f9ab4);
    background-image: linear-gradient(#22A9C5, #1f9ab4);
    border-color: #1d93ab;
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5); }
    .btn.blue:hover {
      background-color: #27bbda;
      background-image: -webkit-linear-gradient(#27bbda, #22A9C5);
      background-image: linear-gradient(#27bbda, #22A9C5); }
  .btn.black {
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    background-color: #595959;
    background-image: -webkit-linear-gradient(#595959, #404040);
    background-image: linear-gradient(#595959, #404040);
    /* W3C */
    border-color: black;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 1px 1px rgba(255, 255, 255, 0.3); }
  .btn.transparent {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8), inset 0 1px 1px rgba(255, 255, 255, 0.7); }
    .btn.transparent:hover {
      box-shadow: 0 1px 15px rgba(0, 0, 0, 0.8), inset 0 1px 1px rgba(255, 255, 255, 0.7);
      background-color: rgba(255, 255, 255, 0.75);
      background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.75), white);
      background-image: linear-gradient(rgba(255, 255, 255, 0.75), white); }
  .btn.small {
    font-size: .8em;
    padding: 0 5px;
    line-height: 1.8em;
    box-shadow: 0 1px 0 white; }
  .btn.big {
    padding: 1.3em 1.7em;
    border-radius: 3px;
    text-transform: uppercase; }
  .btn.huge {
    text-transform: none;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 3px; }
  .btn.large {
    padding: .7em 2em;
    font-weight: 300;
    font-size: 1.2em; }

.btn-group {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #cccccc;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7); }
  .btn-group a {
    float: left;
    color: #59595c;
    border-right: 1px solid #cccccc;
    line-height: 25px;
    background-color: white;
    background-image: -webkit-linear-gradient(white, #e6e6e6);
    background-image: linear-gradient(white, #e6e6e6);
    padding: 0 10px;
    margin: 0;
    box-shadow: inset 1px 1px 2px white; }
    .btn-group a:hover {
      background-color: white;
      background-image: -webkit-linear-gradient(white, #e5f4b5);
      background-image: linear-gradient(white, #e5f4b5); }
    .btn-group a:active, .btn-group a.active {
      background-color: #769028;
      background-image: -webkit-linear-gradient(#769028, #97B833);
      background-image: linear-gradient(#769028, #97B833);
      color: white;
      box-shadow: inset 0 2px 5px #354012;
      text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0; }
    .btn-group a:last-child {
      border-right: none; }

select.custom {
  border: 1px solid #bababa;
  height: 33px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  -webkit-border-radius: 0;
  background: white right center no-repeat;
  outline: 1px;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 2px;
  line-height: 1.5em;
  vertical-align: bottom; }
  select.custom:focus {
    color: #000;
    box-shadow: 0 0 5px 1px #AAD81F;
    border-color: #97B833; }

input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, textarea:focus {
  outline: 0 none; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea {
  -webkit-apperance: none;
  padding: 5px;
  margin: 0;
  border: 1px solid #d9d9d9;
  border-top-color: #cccccc;
  font-size: 12px; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, textarea:focus {
    box-shadow: 0 0 5px 1px #AAD81F;
    border-color: #97B833; }
  input[type="email"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="url"]:disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="month"]:disabled, input[type="time"]:disabled, input[type="week"]:disabled, textarea:disabled {
    background: #f2f2f2;
    color: #8c8c8f; }
  input[type="email"].error, input[type="number"].error, input[type="password"].error, input[type="search"].error, input[type="tel"].error, input[type="text"].error, input[type="url"].error, input[type="color"].error, input[type="date"].error, input[type="datetime"].error, input[type="datetime-local"].error, input[type="month"].error, input[type="time"].error, input[type="week"].error, textarea.error {
    border-color: #C94039; }

.input-inline {
  display: inline-block;
  background: white;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  border-top-color: #cccccc; }
  .input-inline .add-on, .input-inline input[type=text], .input-inline input[type=password], .input-inline input[type=number], .input-inline select {
    padding: 5px;
    box-shadow: none;
    float: left;
    border: none; }
  .input-inline .add-on {
    display: block;
    float: right;
    padding: 5px 7px;
    background: #ededed;
    color: gray;
    font-weight: 300;
    font-size: 12px;
    border-left: 1px solid #d9d9d9; }
    .input-inline .add-on.pre {
      border: none;
      border-right: 1px solid #d9d9d9;
      float: left; }
    .input-inline .add-on.select {
      padding: 0; }
    .input-inline .add-on select {
      margin: 0;
      height: 25px;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      -webkit-border-radius: 0;
      background: #ededed right center no-repeat;
      outline: 1px;
      padding: 0 10px;
      padding-right: 30px;
      cursor: pointer;
      vertical-align: bottom; }
  .input-inline.active {
    box-shadow: 0 0 3px 1px #AAD81F;
    border-color: #AAD81F; }

input[type=checkbox].custom {
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  min-width: 1em;
  min-height: 1em;
  margin-bottom: 0.45em;
  font-size: .8em;
  display: inline-block;
  vertical-align: middle;
  background: white;
  border-radius: 1px;
  cursor: pointer;
  padding: 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.2); }
  input[type=checkbox].custom:checked {
    background: white no-repeat center center;
    background-size: contain; }

.loader-dots {
  background: rgba(0, 0, 0, 0.5); }
  .loader-dots .loader-dots-container {
    letter-spacing: -.05em; }
    .loader-dots .loader-dots-container span {
      color: white;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
      -webkit-animation: loader-dots 1s infinite linear;
      -moz-animation: loader-dots 1s infinite linear;
      animation: loader-dots 1s infinite linear;
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .loader-dots .loader-dots-container span:first-of-type {
      -webkit-animation-delay: 0;
      -moz-animation-delay: 0;
      animation-delay: 0; }
    .loader-dots .loader-dots-container span:last-of-type {
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      animation-delay: 0.4s; }
  .loader-dots.light {
    background: rgba(255, 255, 255, 0.5); }
    .loader-dots.light .loader-dots-container span {
      color: black;
      -webkit-animation: loader-dots-light 1s infinite linear;
      -moz-animation: loader-dots-light 1s infinite linear;
      animation: loader-dots-light 1s infinite linear; }

@-webkit-keyframes loader-dots {
  0% {
    color: rgba(255, 255, 255, 0); }
  25% {
    color: white; }
  100% {
    color: white; } }
@-moz-keyframes loader-dots {
  0% {
    color: rgba(255, 255, 255, 0); }
  25% {
    color: white; }
  100% {
    color: white; } }
@keyframes loader-dots {
  0% {
    color: rgba(255, 255, 255, 0); }
  25% {
    color: white; }
  100% {
    color: white; } }
@-webkit-keyframes loader-dots-light {
  0% {
    color: transparent; }
  25% {
    color: black; }
  100% {
    color: black; } }
@-moz-keyframes loader-dots-light {
  0% {
    color: transparent; }
  25% {
    color: black; }
  100% {
    color: black; } }
@keyframes loader-dots-light {
  0% {
    color: transparent; }
  25% {
    color: black; }
  100% {
    color: black; } }
.loader-windows {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30pt;
  margin-top: -30pt;
  z-index: 999999999; }
  .loader-windows .windows {
    position: absolute;
    top: 20px;
    left: 25px; }
    .loader-windows .windows > div {
      width: 5px;
      height: 5px;
      background: rgba(89, 89, 92, 0.1);
      position: absolute;
      -webkit-animation: loader-fade 0.5s infinite linear;
      -moz-animation: loader-fade 0.5s infinite linear;
      animation: loader-fade 0.5s infinite linear;
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); }
    .loader-windows .windows > [class*=a] {
      left: 0; }
    .loader-windows .windows > [class*=b] {
      left: 8px; }
    .loader-windows .windows > [class*=c] {
      left: 16px; }
    .loader-windows .windows > [class*=d] {
      left: 24px; }
    .loader-windows .windows > [class*="1"] {
      top: 32px; }
    .loader-windows .windows > [class*="2"] {
      top: 24px; }
    .loader-windows .windows > [class*="3"] {
      top: 16px; }
    .loader-windows .windows > [class*="4"] {
      top: 8px; }
    .loader-windows .windows > [class*="5"] {
      top: 0; }
    .loader-windows .windows .a1 {
      -webkit-animation-delay: 0.125s;
      -moz-animation-delay: 0.125s;
      animation-delay: 0.125s; }
    .loader-windows .windows .a2 {
      -webkit-animation-delay: 0.25s;
      -moz-animation-delay: 0.25s;
      animation-delay: 0.25s; }
    .loader-windows .windows .a3 {
      -webkit-animation-delay: 0.375s;
      -moz-animation-delay: 0.375s;
      animation-delay: 0.375s; }
    .loader-windows .windows .a4 {
      -webkit-animation-delay: 0.5s;
      -moz-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .loader-windows .windows .b1 {
      -webkit-animation-delay: 0.16667s;
      -moz-animation-delay: 0.16667s;
      animation-delay: 0.16667s; }
    .loader-windows .windows .b2 {
      -webkit-animation-delay: 0.33333s;
      -moz-animation-delay: 0.33333s;
      animation-delay: 0.33333s; }
    .loader-windows .windows .b3 {
      -webkit-animation-delay: 0.5s;
      -moz-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .loader-windows .windows .c1 {
      -webkit-animation-delay: 0.1s;
      -moz-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    .loader-windows .windows .c2 {
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .loader-windows .windows .c3 {
      -webkit-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .loader-windows .windows .c4 {
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .loader-windows .windows .c5 {
      -webkit-animation-delay: 0.5s;
      -moz-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .loader-windows .windows .d1 {
      -webkit-animation-delay: 0.25s;
      -moz-animation-delay: 0.25s;
      animation-delay: 0.25s; }
    .loader-windows .windows .d2 {
      -webkit-animation-delay: 0.5s;
      -moz-animation-delay: 0.5s;
      animation-delay: 0.5s; }

.loader-windows-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%; }
  .loader-windows-wrapper.dark .loader-windows-container {
    background: rgba(0, 0, 0, 0.6); }
  .loader-windows-wrapper.dark .windows > div {
    background: rgba(255, 255, 255, 0.2); }
  .loader-windows-wrapper.clear .loader-container {
    background: none; }
  .loader-windows-wrapper.small .loader {
    margin-left: -15pt;
    margin-top: -15pt; }
  .loader-windows-wrapper.small .loader .windows {
    top: 10px;
    left: 12px; }
    .loader-windows-wrapper.small .loader .windows > div {
      width: 3px;
      height: 3px; }
    .loader-windows-wrapper.small .loader .windows > [class*=a] {
      left: 0; }
    .loader-windows-wrapper.small .loader .windows > [class*=b] {
      left: 4px; }
    .loader-windows-wrapper.small .loader .windows > [class*=c] {
      left: 8px; }
    .loader-windows-wrapper.small .loader .windows > [class*=d] {
      left: 12px; }
    .loader-windows-wrapper.small .loader .windows > [class*="1"] {
      top: 16px; }
    .loader-windows-wrapper.small .loader .windows > [class*="2"] {
      top: 12px; }
    .loader-windows-wrapper.small .loader .windows > [class*="3"] {
      top: 8px; }
    .loader-windows-wrapper.small .loader .windows > [class*="4"] {
      top: 4px; }
    .loader-windows-wrapper.small .loader .windows > [class*="5"] {
      top: 0; }

.loader-windows-container {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  position: relative; }

@-webkit-keyframes loader-fade {
  0% {
    background: #97b833; }
  100% {
    background: rgba(89, 89, 92, 0.1); } }
@-moz-keyframes loader-fade {
  0% {
    background: #97b833; }
  100% {
    background: rgba(89, 89, 92, 0.1); } }
@keyframes loader-fade {
  0% {
    background: #97b833; }
  100% {
    background: rgba(89, 89, 92, 0.1); } }
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 90%;
  background-color: #fff !important;
  color: #393D42 !important;
  padding: 0.2em 0.3em !important;
  border: 1px solid #dedede !important; }

pre {
  margin: 1em 0 !important;
  font-size: 90% !important;
  background-color: #fff !important;
  border: 1px solid #dedede !important;
  padding: 0.5em !important;
  line-height: 1.5em !important;
  color: #444 !important;
  overflow: auto !important; }

pre code {
  padding: 0 !important;
  font-size: 12px !important;
  background-color: #fff !important;
  border: none !important; }

pre.console {
  margin: 1em 0 !important;
  font-size: 90% !important;
  background-color: black !important;
  padding: 0.5em !important;
  line-height: 1.5em !important;
  color: white !important; }

pre.console code {
  padding: 0 !important;
  font-size: 100% !important;
  background-color: black !important;
  border: none !important;
  color: white !important; }

pre.console span {
  color: #888 !important; }

pre.console span.command {
  color: yellow !important; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #B8B6B1;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  color: #000; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #B8B6B1;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #B8B6B1;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #B8B6B1;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #B8B6B1;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  color: #456FBD; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #C42B23; }

/* Name.Builtin */
.highlight .nc {
  color: #C42B23;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #C42B23; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #C42B23; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #C42B23; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .s {
  color: #456FBD; }

/* Literal.String */
.highlight .sb {
  color: #456FBD; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #456FBD; }

/* Literal.String.Char */
.highlight .sd {
  color: #456FBD; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #4687B8; }

/* Literal.String.Double */
.highlight .se {
  color: #4687B8; }

/* Literal.String.Escape */
.highlight .sh {
  color: #4687B8; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #4687B8; }

/* Literal.String.Single */
.highlight .ss {
  color: #74A32E; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #C79F00; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white; }

a {
  text-decoration: none; }

.header {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }
  .header:after {
    content: "";
    display: table;
    clear: both; }
  .header .header-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 100%;
    table-layout: fixed; }
    .header .header-container:after {
      content: "";
      display: table;
      clear: both; }
  .header .logo {
    display: block;
    text-align: center;
    margin: 20px 0; }
    .header .logo img {
      height: 150px;
      width: auto; }
    .header .logo .tagline {
      margin-top: -40px;
      margin-right: -165px;
      color: #727276; }
  .header .nav {
    display: block;
    text-align: center;
    vertical-align: middle; }
  .header img {
    display: inline-block;
    vertical-align: -4px; }
  .header .title {
    margin-left: 10px;
    font-weight: 100;
    font-size: 32px; }
    .header .title a {
      color: #59595c; }

.intro {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  font-size: 15pt;
  font-weight: 300;
  line-height: 1.5em; }
  .intro:after {
    content: "";
    display: table;
    clear: both; }

.downloads {
  margin: 20px 0 30px 0;
  display: block;
  text-align: center;
  vertical-align: middle;
  padding: 20px; }
  .downloads .btn {
    font-size: 1.2em;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 42px; }
  .downloads .icon {
    vertical-align: bottom;
    margin-right: 10px;
    font-size: 1.3em; }

h1, h2 {
  font-size: 20pt;
  font-weight: 300;
  margin-bottom: 20px;
  color: black;
  text-align: center; }

h3 {
  color: #86AC18;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4em;
  margin: 10px 0;
  margin-top: 100px; }

h4 {
  font-weight: bold;
  font-size: 1.1em;
  margin: 10px 0;
  margin-top: 20px; }

.docs {
  background: #f0f1ee;
  margin-top: 30px;
  border-top: 1px solid #d1d3ca;
  padding: 60px 40px; }
  .docs .docs-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
    .docs .docs-container:after {
      content: "";
      display: table;
      clear: both; }
  .docs p {
    margin: 15px 0;
    line-height: 1.6em; }
  .docs .section, .docs .sub-section {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .docs .section .notes, .docs .sub-section .notes {
      display: table-cell;
      width: 50%;
      vertical-align: top;
      padding-right: 40px; }
    .docs .section .code, .docs .sub-section .code {
      display: table-cell;
      width: 50%;
      vertical-align: top; }
    @media screen and (max-width: 600px) {
      .docs .section, .docs .sub-section {
        display: block; }
        .docs .section .code, .docs .section .notes, .docs .sub-section .code, .docs .sub-section .notes {
          display: block;
          width: 100%; } }
  @media screen and (max-width: 600px) {
    .docs {
      padding-left: 20px;
      padding-right: 20px; } }
  .docs .links {
    overflow: hidden;
    margin: 10px 0; }
    .docs .links li {
      display: block;
      padding: 5px 0; }
      .docs .links li .icon {
        font-size: 1.5em;
        vertical-align: -.2em;
        margin-right: .2em; }

.footer {
  border-top: 1px solid #d1d3ca;
  text-align: center;
  padding-bottom: 100px; }
  .footer .contributor {
    display: inline-block;
    margin: 10px 20px; }
    .footer .contributor img {
      border-radius: 50%;
      border: 1px solid #d9d9d9;
      margin-bottom: 5px;
      width: 70px; }
    .footer .contributor .name {
      display: block; }
  .footer h2 {
    margin: 30px 0; }
  .footer p {
    margin: 15px 0;
    line-height: 1.6em; }
  .footer .footer-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
    .footer .footer-container:after {
      content: "";
      display: table;
      clear: both; }
